<form
  [formGroup]="signupForm"
  (ngSubmit)="onSubmit()"
  class="mx-auto flex flex-col gap-8 w-full md:max-w-200 p-5 sm:p-10"
>
  <div class="flex flex-col md:flex-row gap-8 md:gap-5">
    <div class="flex-1 flex flex-col gap-5">
      <app-input
        [label]="'Nombre'"
        [id]="'firstName'"
        [placeholder]="'Escriba su nombre'"
        [control]="signupForm.get('firstName')"
        formControlName="firstName"
      ></app-input>
      <app-input
        [label]="'Apellidos'"
        [id]="'lastName'"
        [placeholder]="'Escriba sus apellidos'"
        [control]="signupForm.get('lastName')"
        formControlName="lastName"
      ></app-input>
      <app-input
        [label]="'Correo electrónico'"
        [id]="'email'"
        [placeholder]="'Escriba su correo electrónico'"
        [control]="signupForm.get('email')"
        formControlName="email"
        [icon]="'email'"
      ></app-input>
    </div>
    <div class="flex-1 flex flex-col gap-5">
      <app-input
        [label]="'Nombre de usuario'"
        [id]="'username'"
        [placeholder]="'Escriba su nombre usuario'"
        [control]="signupForm.get('username')"
        formControlName="username"
        [icon]="'person'"
      ></app-input>
      <app-input
        [label]="'Contraseña'"
        [type]="'password'"
        [id]="'password'"
        [placeholder]="'Escriba su contraseña'"
        [control]="signupForm.get('password')"
        formControlName="password"
        [passwordMissmatchError]="passwordMissmatchError"
        [icon]="'visibility'"
      ></app-input>
      <app-input
        [label]="'Confirmación de contraseña'"
        [type]="'password'"
        [id]="'passwordConfirm'"
        [placeholder]="'Escriba de nuevo su contraseña'"
        [control]="signupForm.get('passwordConfirm')"
        formControlName="passwordConfirm"
        [passwordMissmatchError]="passwordMissmatchError"
        [icon]="'visibility'"
      ></app-input>
    </div>
  </div>
  <div class="mx-auto flex flex-col items-center gap-2">
    @if (signupFormError) {
    <p class="text-red-700 text-sm text-center italic">
      {{ signupFormError }}
    </p>
    } @if (passwordMissmatchError) {
    <p class="text-red-700 text-sm text-center italic">
      {{ passwordMissmatchError }}
    </p>
    }
    <app-button [type]="'submit'" [text]="'Registrarse'"></app-button>
  </div>
</form>
