<div
  class="flex rounded-full p-2 gap-5 hover:bg-custom-primary-light hover:scale-105 transition-all duration-300 cursor-pointer"
>
  <img src="" alt="" class="w-10 h-10 md:w-15 md:h-15 rounded-full" />
  <div class="hidden md:flex-1 md:flex md:flex-col md:min-w-0">
    <h2 class="text-sm font-medium text-custom-secondary truncate">
      {{ user?.firstName }} {{ user?.lastName }}
    </h2>
    <p class="text-sm font-medium text-custom-primary-dark truncate">
      {{ user?.username }}
    </p>
  </div>
</div>
