<div class="flex flex-col gap-2">
  @if (label) {
  <label [for]="id" class="font-medium text-custom-secondary">{{
    label
  }}</label>
  }
  <div class="relative">
    @if (icon) {
    <mat-icon
      class="custom-icon absolute top-1/2 left-2 transform -translate-y-1/2"
      [class.cursor-pointer]="['password', 'passwordConfirm'].includes(id)"
      (click)="togglePasswordVisibility()"
      >{{ icon }}</mat-icon
    >
    }
    <input
      [id]="id"
      [type]="type"
      [placeholder]="placeholder"
      class="w-full px-3 py-2 border-1 border-custom-border rounded-lg focus:outline-none placeholder-custom-accent-light focus:border-2 focus:border-custom-secondary focus:shadow-xs focus:shadow-custom-secondary transition-all duration-300"
      [class.pl-9]="icon"
      [value]="value"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
    />
  </div>
</div>
