<div
  class="md:p-5 flex flex-col min-h-screen border-1 border-custom-border md:w-75"
>
  <ul class="flex md:flex-col gap-2">
    <div>
      <app-dashboard-sidebar-profile
        [routerLink]="['/dashboard/settings']"
      ></app-dashboard-sidebar-profile>
    </div>
    <div class="flex md:flex-col gap-2">
      <app-dashboard-sidebar-li
        [routerLink]="['']"
        [text]="'Inicio'"
        [icon]="'home'"
      ></app-dashboard-sidebar-li>
      <app-dashboard-sidebar-li
        [routerLink]="['/dashboard/mailbox']"
        [text]="'Buzón'"
        [icon]="'markunread_mailbox'"
      ></app-dashboard-sidebar-li>
      <app-dashboard-sidebar-li
        [routerLink]="['/dashboard/courses']"
        [text]="'Cursos'"
        [icon]="'school'"
      ></app-dashboard-sidebar-li>
    </div>
  </ul>
</div>
